#fam1 {font-family: 
'Source Code Pro', monospace;
}
#fam2 {font-family: 
    'Source Code Pro', monospace;
}
#fam3 {font-family: 
    'Source Code Pro', monospace;
    
}
img { display: block;
  margin-left: auto;
  margin-right: auto;}
  table, th, td {
  border: 2px solid pink;
}
table {
    text-align:center;
}
#drum { width:400px;
height:250px;
}
#dad {
    width:400px;
    height:250px;
}
#fam18 {
    width:400px;
    height: 250px;
}
#jumbo {
    background: linear-gradient(to bottom, #ffffff 0%, #ff99cc 100%);
}

#fam3{
    background: linear-gradient(to bottom, #cc99ff 0%, #ff99cc 100%);
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F2F2F2;
   color: black;
   text-align: center;
}
#me {
    font-family: 
    'Source Code Pro', monospace;
}
#button1 {
  background-color: #C7EA; 
  border:none ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:15px;
  font-family: 
    'Source Code Pro', monospace;
}
#button2 {
  background-color: #C7EA; 
  border:none ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:15px;
  font-family: 
    'Source Code Pro', monospace;
}
/*#card1 {*/
/*    font-family: */
/*    'Source Code Pro', monospace;*/
/*}*/
/*#card2 {*/
/*    font-family: */
/*    'Source Code Pro', monospace;*/
/*}*/
/*#card3 {*/
/*    font-family: */
/*    'Source Code Pro', monospace;*/

/*}*/



#tw1 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw2 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw3 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw4 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw5 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw6 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw7 {
    font-family: 
    'Source Code Pro', monospace;
}
#tw8 {
    font-family: 
    'Source Code Pro', monospace;
}
p{
        font-family: 
    'Source Code Pro', monospace;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
}
h4 {
    font-family: 
    'Source Code Pro', monospace;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#expla1 {
     background: linear-gradient(to bottom, #cc99ff 0%, #ff99cc 100%);
}